ENABLED_MODULES='alacritty zsh yubikey git zellij nvim agent'
AWESOME_WALLPAPER_SOURCE=''
GIT_USER_NAME='Your Name'
GIT_USER_EMAIL='you@example.com'
GIT_SIGNING_KEY=''
GIT_COMMIT_SIGNING='false'
AGENT_CLI='copilot'
